<%= form_for @brand, remote: true, html: {styles: "display:inline;"} do |f| %>
  <div class="modal-body">
    <ul class="errors"></ul>
    <div class="form-group">
      <%= f.label :brand_name, class: 'control-label' %>
      <%= f.text_field :brand_name, class: 'form-control first_input'%>
    </div>
  </div>

  <div class="modal-footer">
    <!--button type="button" class="btn btn-default" data-dismiss="modal">Close</button-->
    <!--button type="submit" class="btn btn-primary"><%= yield(:button_text) %></button-->
    <%= f.submit @brand.new_record? ? "Create Brand":"Update Brand", class: "btn btn-primary", data: {"disable-with": "saving...."} %>
  </div>
<% end %>

